@charset "utf-8";

html {
    overflow-y: scroll;
}
.clrall {
	clear: both;
	line-height: 0px;
}
hr {
	color: #9c9ea1;
}

.red
	{color:#C00;}
	
.smallfont
	{font-size:11px;}
	
.smallfontred {
	color:#C00;
	font-size:11px;
}

/* Blue Bar across the top of the site */
#topDiv {
	background-color: #0c507e;
	font-weight: bold;
	padding: 0px;
	margin: 0 auto; 
	text-align: left;
	width: 100%;
}
#topDiv #welcomeText {
	width: 940px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	color: #fff;
	height: 30px;
	float: none;
}
#topDiv #welcomeText ul {
	padding: 5px 0px 0px 5px;
	margin: 0px 0px 0px 30px;
	float: left;
}
#topDiv #welcomeText ul li {
	list-style-type: none;
	float: left;
	padding: 0px 30px 0px 0px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	display: block;
	z-index: 1000;
}
#topDiv #welcomeText li ul {
	display: none;
	float: left;
	margin: 0px;
	padding: 10px 5px 10px 0px;
	width: 290px;
	line-height: 20px;
	z-index: 1000;
}
#topDiv #welcomeText ul li a, #topDiv #welcomeText ul li a:link {
	text-decoration: none;
	color: #fff;
	display: block;
	white-space: nowrap;
	margin-left: 1px;
	background: #0c507e;
	z-index: 1000;
}
#topDiv #welcomeText ul li ul li a {
	text-decoration: none;
	line-height: 25px;
	padding: 0 10px;
	z-index: 1000;
}
#topDiv #welcomeText ul li ul li:hover a:hover {
	background: #0e3253;
	text-decoration: none;
	color: #fff;
}
#topDiv #welcomeText ul li a:hover, #topDiv #welcomeText ul li a:active {
	color: #fff;
	background: #0c507e;
}
#topDiv #welcomeText li:hover ul {
	display: block;
	position: absolute;
	margin: 0px;
	padding-top: 6px;
}
#topDiv #welcomeText li:hover li {
	float: none;
	font-size: 11px;
}
#topDiv #welcomeText li:hover a {
	background: #0c507e;
}
#topDiv #welcomeText li:hover a:hover {
	background: #0c507e;
	text-decoration: underline;
}
#topDiv #welcomeText ul li a:visited {
	color: #fff;
}
#topDiv #welcomeText #txtsizer {
	font-size: 11px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 12px;
}
#topDiv #welcomeText #txtsizer a, #txtsizer a:hover, #txtsizer a:visited, #txtsizer a:active {
	color: #fff;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
#topDiv #welcomeText #txtsizer p {
	padding: 7px 0px 0px 5px;
	margin: 0px;
}


#search {
	font-size: 11px;
	background-color: #FFF;
	float: right;
	width: 220px;
	height: 28px;
	color: #e54424;
	margin: 0;
	padding: 0px;
}
#search fieldset {
	border: medium none;
	margin: 0;
	padding: 0;
}
#search #query {
	border: none;	
	float: left;
	height: 24px;
	width: 195px;
	padding: 3px 0 0 3px;
	color: #e54424;
}
#search .button {
	float: left;
	margin: 0;
	padding: 10px 0 0 4px;
}


/* logo
================================================== */
.header {
	background-color: #ffffff;
	width: 940px;
	font-weight: bold;
	padding: 0px;
	text-align: left;
	margin: 0px auto;
}
.logo {
	background-color: #ffffff;
	margin: 20px 20px 20px 0px;
	width: 228px;
	float: left;
}


/* Main Navigation
================================================== */

/*  Test for drop down and flyout menu */
/* Targeting both first and second level menus */

.header #mainNav ul {
	padding: 13px 0px 0px 0px;
	margin: 45px 0px 0px 0px;
	float: left;
	z-index: 1000;
}
.header #mainNav li {
	float: left;
	list-style: none;
	border-right: solid 1px #e7e6e6;
	font-size:12px;
}
.header #mainNav li.lastitem {
	float: left;
	list-style: none;
	border-right: solid 1px #fff;
}
.header #mainNav li a {
	background: #fff;
	color: #0e3253;
	display: block;
	margin: 0 5px 0 0;
	padding: 5px 8px;
	text-decoration: none;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}
.header #mainNav li a:hover {
	background: #e6e7e8;
	text-decoration: none;
	color: #0e3253;
}
/* Targeting the first level menu */
.header #mainNav {
	display: block;
	height: 35px;
	z-index: 1000;
	width: 860px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 50px;
	color: #0e3253;
}
/* Targeting the second level menu */
.header #mainNav li ul {
	background: #aecce4;
	border: 1px solid #e6e7e8;
	color: #000;
	display: none;
	margin: 0px 0 0 0;
	width: 170px;
	position: absolute;
	padding-top: 10px;
	font-size: 11px;
	z-index: 1000;
}
.header #mainNav li ul li {
	width: 100%;
	border-bottom: 1px solid #9c93a1;
}
.header #mainNav li ul li a {
	background: none;
	border: none;
	line-height: 25px;
	margin: 0;
	padding: 5px 0 2px 7px;
}
.header #mainNav li ul li.twoline a {
	line-height: 15px;
}
.header #mainNav li ul li a:hover {
	text-decoration: underline;
	background: #0e3253;
	color: #ffffff;
}
/* Third level menu */
.header #mainNav li ul li ul {
	right: -170px;
	top: 0;
	background: #d5e5f2;
	z-index: 1000;
}
/* A class of current will be added via jQuery */
.header #mainNav li.current > a {
	background:  #e6e7e8;
	color: #0e3253;
}
/* CSS fallback */
.header #mainNav li:hover > ul.child {
	display: block;
}
.header #mainNav li:hover > ul.grandchild {
	display: block;
}
#carousel {
	margin: 0px auto;
}
#carouselBox {
	border: 1px solid #CCCCCC;
	margin: 0px auto;
	padding: 5px;
	background-color: #F4F4F4;
	height: 376px;
	vertical-align: top;
	width: 1000px;
}
.theme-default #slider {
	width: 1000px; /* Make sure your images are the same size */
	height: 376px; /* Make sure your images are the same size */
}
.theme-pascal.slider-wrapper, .theme-orman.slider-wrapper {
	margin-top: 5px;
}
#skip {
	display: none;
}
/* callouts
================================================== */

#callouts {
	width: 940px;
	margin: 0px auto;
}
#callouts a{text-decoration:none; border:none;}
#callouts_space {
	margin-right: 20px;
}

.note {border:thin solid #999; background-color:#e6e7e8; padding:5px 10px;}
.note_text {color:#b22f25; font-size:16px; font-weight:bold; }
.note_red {border:thin solid #8d1910; background-color:#f7eae9; padding:5px 10px 0px;}
.note_red_text {float:left; color:#8d1910; font-size:20px; margin-top:15px; font-weight:bold;}
/*================================================== */
body {
	font-family: Arial, Helvetica,  sans-serif;
	margin: 0;
	padding: 0;
	color: #2e2e2e;
	font-size:14px;

}
#wrapper {
	background-color: #f8f8f8;
	width: 100%;
	margin: 0 auto;
}
#content {
	background-color: #fff;
	clear: both;
	width: 940px;
	overflow: hidden;
	margin: 0px auto;
	
}


#bgOverlay {
	margin: 0px;
	overflow: hidden;
	z-index: 1000;
	
	

}
.center_box_content {
	
	margin: 0 auto;
	padding: 0;
}

.top_shade {
	margin: 0 auto;
	height: 8px;
	width: 100%;
	background: url(../images/border_top.png) repeat-x left top;
}
.gradient {
	padding: 15px;
	border-left: solid 1px #dddddd;
	border-top: solid 1px #dddddd;
	width: 280px;
	height: 180px;
	/* for non-css3 browsers */
	background-image: -moz-linear-gradient(top, #ffffff, #eeeeee); /* Firefox 3.6 */
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #eeeeee)); /* Safari & Chrome */
 filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#eeeeee'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#eeeeee')"; /* IE8 */
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EEEEEE), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #EEEEEE 0%, #FFFFFF 100%);

}
.gradientbox {
	padding: 15px;
	border-left: solid 1px #dddddd;
	border-top: solid 1px #dddddd;
	width: 280px;
	height: auto;
	/* for non-css3 browsers */
	background-image: -moz-linear-gradient(top, #ffffff, #eeeeee); /* Firefox 3.6 */
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #eeeeee)); /* Safari & Chrome */
 filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#eeeeee'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#eeeeee')"; /* IE8 */
	/* Safari & Chrome */
 filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#eeeeee'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#eeeeee')"; /* IE8 */
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EEEEEE), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #EEEEEE 0%, #FFFFFF 100%);
}

.gradientlast {
	border-top: solid 1px #dddddd;
	width: 310px;
	/* for non-css3 browsers */
	background-image: -moz-linear-gradient(top, #ffffff, #eeeeee); /* Firefox 3.6 */
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #eeeeee)); /* Safari & Chrome */
 filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#eeeeee'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#eeeeee')"; /* IE8 */
	
}/* Safari & Chrome */
 filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#eeeeee'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#eeeeee')"; /* IE8 */
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EEEEEE), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #EEEEEE 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #EEEEEE 0%, #FFFFFF 100%);


#center ul li, #center_twocolumn ul li {
	margin-bottom: 10px;
	list-style: disc;
	
	
}

.color {color:#0c507e; font-weight:bold;}
/* left content
================================================== */	
.whoweare_containter {
	background-color: #FFFFFF;
	height: 350px;
}
.whoweare_container h2 {
	margin-top: 0px;
	padding-top: 0px;
}
#image_place {
	float: right;
	padding-left: 30px;
	padding-right: 80px;
	padding-top: 20px;
}
.indent {
	font-family: Arial, Helvetica,  sans-serif;
	margin: 0;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 65px;
	padding-top: 10px;
}
.indent_first {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 65px;
	padding-top: 20px;
}
.indent_list {
	font-family: Arial, Helvetica,  sans-serif;
	line-height: 2;
	padding-bottom: 0px;
	padding-left: 25px;
	padding-right: 95px;
	padding-top: 5px;
}
.list_left_position {
	float: left;
	padding-bottom: 10px;
	padding-left: 20px;
	width: 40%;
}
.list_right_position {
	float: right;
	padding-right: 5px;
	width: 55%;
}
.list_center_position {
	float: left;
	padding-bottom: 10px;
	padding-left: 20px;
	width: 100%;
}
.subheader {
	background-color: #FFF;
	border-style: none;
	float: left;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 575px;
	margin-left: 30px;
}
.subheader h2 {
	margin-bottom: 0;
	padding-bottom: 0;
}
#highlights {
	background: url(../images/left_textbox.gif) no-repeat bottom;
	border-style: none;
	float: left;
	font-family: Helvetica, Arial, sans-serif;
	padding: 0 0 15px 0;
	width: 575px;
	height: auto;
}
#highlights a {
	color: #ff4400;
	text-decoration: none;
}
#highlights_section {
	padding-top: 40px;
	width: 596px;
}
.highlights_section_left {
	float: left;
	padding-left: 15px;
	width: 180px;
}
.highlights_section_right {
	float: left;
	padding-left: 20px;
	width: 180px;
}
/* right content
================================================== */	
#ourwebsites {
	float: right;
	padding: 0px;
	width: 319px;
	font-size:12px;
}
#ourwebsites h2, #ourwebsites h2 img {
	margin: 0px;
	padding: 0px;
}
#ourwebsites h3 {font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:24px; color: #126b37; margin-top:15px; margin-bottom:8px;}

#ourwebsites h4 {font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px; color: #126b37; margin-top:15px; margin-bottom:8px;}

#ourwebsites .sites_section {
	border-bottom: 1px solid #ccc;
	height: 175px;
	margin: 0;
	padding: 20px 35px 0px 25px;
}
#ourwebsites .sites_section p a {
	color: #6c0;
	margin: 0;
	text-align: right;
}
#ourwebsites .sites_section:hover {
	background-image: url(../images/hover.png);
}
#ourwebsites .sites_section_last {
	height: 185px;
	margin: 0;
	padding: 20px 40px 10px 25px;
}
#ourwebsites .sites_section_last p a {
	color: #6c0;
	margin: 0;
	padding-bottom: 10px;
	text-align: right;
}
#ourwebsites .sites_section_last:hover {
	background-image: url(../images/hover.png);
}
/* styles unique to secondary pages
================================================== */
#event_container {
	background-color:#edebeb; 
	border:solid 1px #CCC; 
	width:600px;
	height:57px;
}

#left_event {
	float:left; 
	width:295px; 
	margin-left:5px; 
	font-size:11px;
}
#center_event {
	display: inline-block;
	margin-top:3px;
	margin-bottom:3px;
}
#right_event {
	float:right; 
	width: 295px; 
	margin: 21px auto; 
	text-align:center; 
	font-weight:bold;
}
#map_event {
	width:52px; 
	float:left; 
	margin-top:3px;
}
#location_event {
	width:240px; 
	float:left; 
	margin-left:5px;
	margin-top:6px;
}



#container {
	width:100%;
}

#left_calendar {
	padding:2px;
	margin-right:5px;
	width:250px;
	float:left;
}

#left_calendar a {
	text-decoration:none; 
	font-size:12px;
	}
	
#left_calendar a:hover {
	text-decoration:underline;
	font-size:12px;
	}

#center_calendar {
	padding:2px;
	margin-right:5px;
	width:150px;
	float:left;
	color: #0c507e;
	font-weight:bold;
	font-size:16px;
	text-align:center;
}

#right_calendar {
	padding:2px;
	margin-right:5px;
	width:250px;
	float:left;
	text-align:right;
}

#right_calendar a {
	text-decoration:none;
	font-size:12px;
	}
	
#right_calendar a:hover {
	text-decoration:underline;
	font-size:12px;
	}
	
h3 {font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:9px;}	


/*
#container {
    width:100%;
    text-align:center;
}

#left_calendar {
    float:left;
    width:150px;
}

#left_calendar a {
	text-decoration:none; 
	font-size:12px;
	}
	
#left_calendar a:hover {
	text-decoration:underline;
	font-size:12px;
	}

#center_calendar  {
    display: inline-block;
    margin:0 auto;
    width:150px;
	color: #0c507e;
	font-weight:bold;
	font-size:16px;
}

#right_calendar  {
    float:right;
    width:150px;
}
#right_calendar a {
	text-decoration:none;
	font-size:12px;
	}
	
#right_calendar a:hover {
	text-decoration:underline;
	font-size:12px;
	}	

*/

 table
{
border-collapse:collapse; 
}
table, th, td
{
border: 1px solid #2e2e2e; text-align:left; vertical-align:text-top; padding:5px; background-clip: padding-box;
}
table thead {background-color:#fff1cd;}

.group{background-color:#f5f5f5;}


#center {
	float: left;
	padding: 0px;
	width: 372px;
	padding: 10px 10px 20px 10px;
}

#center_twocolumn {
	float: left;
	padding: 0px;
	width: 691px;
	padding: 10px 10px 50px 10px;
}

#center h2, #center_twocolumn h2{
	font-size: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bolder;
	color: #0c507e;
}

#center h3, #center_twocolumn h3{
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif,;
	font-weight: bolder;
	color:#000;
}

#center h4, #center_twocolumn h4{
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#000;
}
#center h5, #center_twocolumn h5{
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#2e2e2e;
}
#center h6, #center_twocolumn h6{
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#757678;
}


#center_twocolumn h1, #center h1 
{
	font-size: 26px;
	font-family: Helvetica, Arial, sans-serif;
	color: #0e3253;
	margin-bottom: 5px;
	
}

#center hr, #center_twocolumn hr {
	color: #e6e7e8;
	border: 0;
	background-color: #e6e7e8;
	height: 2px;
}



.lineupimg {
  float: right;
  width:60px;
  height: 21px;
  padding-top:30px
 
}

.lineup h1 {
 float:left;
  top: 0px;
 
}

/*left nav*/

a.highlight {
background: url(../images/arrow.gif) no-repeat 10px 12px #ffdd66; color: #000 !important;}

#left_nav {
	float: left;
	padding: 0px;
	width: 206px;
	color: #fff;
	background: transparent;
	margin: 10px 5px 0px 15px;
	font-weight: bold;
}
#left_nav div{border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	border-right: 1px solid #e6e7e8; 
}
	
#left_nav .tier_one{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0e3254;
	padding: 12px 0px 25px 18px;
	color: #fff;
	/*border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;*/
	font-weight: bold;
	font-size:12px;
}

#left_nav ul {
	background-color: #0c507e;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}
#left_nav ul li {
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	list-style: none;
	padding: 0px 0px;
	margin: 0px;
	font-size:12px;
}

#left_nav .tier_one .tier_one_on ul li{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0e3254;
	padding: 12px 0px 25px 18px;
	color: #fff;
	border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	font-weight: bold;
	font-size:12px;
}

#left_nav .tier_one_on {
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	font-weight: bold;
	color: #fff;
	display: block;	
	font-size:12px;
	background: url(../images/arrow.gif) no-repeat 10px 14px #ffdd66;
	height: 20px;
	
	}


#left_nav .tier_one_on {
	height: 20px;
	padding: 12px 0px 5px 18px;
	color: #000;
}

#left_nav .left_twoline {
	height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0e3253;
	padding: 12px 0px 15px 18px;
	color: #fff;
	/*border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;*/
	font-weight: bold;
	font-size:12px;
}



#left_nav .left_twoline, #left_twoline_on ul li{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0e3253;
	padding: 12px 0px 15px 18px;
	color: #fff;
	border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	font-weight: bold;
	font-size:12px;
}

#left_nav .left_twoline_on {
	font-family: Arial, Helvetica, sans-serif;
	/*border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;*/
	font-weight: bold;
	color: #fff;
	display: block;	
	font-size:12px;
	background: url(../images/arrow.gif) no-repeat 10px 14px #ffdd66;
	height:25px;
}
#left_nav .left_twoline_on {
	height: 25px;
	padding: 12px 0px 10px 18px;
	color:#000;
}
#left_nav .tier_one a, #left_nav .left_twoline a {
	float: left;
	text-decoration: none;
	color: #fff;
	display: block;
	width: 206px;
	font-weight: bold;
	
}
#left_nav .tier_one_on a, #left_nav .left_twoline_on a {
	float: left;
	text-decoration: none;
	color: #000;
	display: block;
	width: 206px;
	font-weight: bold;
}
#left_nav .tier_one a:hover,  #left_nav .left_twoline a:hover {
	color: #fff;
	text-decoration: underline;
	display: block;
	width: 206px;
	font-weight: bold;
}




#left_nav ul.tierone {
	background-color: #0e3254;
	margin: 0px;
	padding: 0px;
	color: #000;
	font-weight: bold;
}




#left_nav ul.tierone li {
	border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size:12px;
	font-color: #000;
}


#left_nav ul.tierone li a, #left_nav ul.tierone li a:hover{
	padding: 10px 10px 10px 20px;
}

#left_nav ul.tiertwo {
	background-color: #0c507e;
	margin: 0px;
	padding: 0px;
	color: #000;
	font-weight: bold;
}
#left_nav ul.tiertwo li {
	border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size:12px;
	font-color: #000;
}

#left_nav ul.tiertwo li a, #left_nav ul.tiertwo li a:hover{
	padding: 10px 10px 10px 25px ;
}

#left_nav ul.tierthree {
	background-color: #86b1ce;
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-weight: bold;
}


#left_nav ul.tierthree li {
	border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size:12px;
	font-color: #fff;
}


#left_nav ul.tierthree li a, #left_nav ul.tierthree li a:hover{
	padding: 10px 10px 10px 35px;
}
#left_nav ul.tierfour {
	background-color: #aecce4;
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-weight: bold;
}
#left_nav ul.tierfour li {
	border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size:12px;
}

#left_nav ul.tierfour li a, #left_nav ul.tierfour li a:hover{
	padding: 10px 10px 10px 45px;
}

#left_nav ul.tierfive {
	background-color: #d6e6f3;
	margin: 0px;
	padding: 0px;
	color: #000;
	font-weight: bold;
}

#left_nav ul.tierfive li {
	border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size:12px;
}
#left_nav ul.tierfive li a, #left_nav ul.tierfive li a:hover{
	padding: 10px 10px 10px 55px;
}

#left_nav ul.tiersix {
	background-color: #eff6fc;
	margin: 0px;
	padding: 0px;
	color: #000;
	font-weight: bold;
}

#left_nav ul.tiersix li {
	border-bottom: 1px solid #cadeed;
	border-top: 1px solid #718594;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size:12px;
}
#left_nav ul.tiersix li a, #left_nav ul.tiersix li a:hover{
	padding: 10px 10px 10px 65px;
}



#left_nav li#current {
	margin: 0px;
	padding: 0px;
	color: #000;
	background: url(../images/arrow.gif) no-repeat 12px 12px #ffdd66;
	font-weight: bold;
}

 #left_nav li#current_tiertwo {
	margin: 0px;
	padding: 0px;
	color: #000;
	background: url(../images/arrow.gif) no-repeat 18px 14px #ffdd66;
	font-weight: bold;
}


 #left_nav li#current_tierthree {
	margin: 0px;
	color: #fff;
	background: url(../images/arrow.gif) no-repeat 20px 12px #ffdd66;
	font-weight: bold;
}

 #left_nav li#current_tierfour {
	margin: 0px;
	color: #000;
	background: url(../images/arrow.gif) no-repeat 30px 14px #ffdd66;
	font-weight: bold;
}

#left_nav li#current_tierfive {
	margin: 0px;
	color: #000;
	background: url(../images/arrow.gif) no-repeat 40px 14px #ffdd66;
	font-weight: bold;
}

#left_nav li#current_tiersix {
	margin: 0px;
	color: #000;
	background: url(../images/arrow.gif) no-repeat 40px 14px #ffdd66;
	font-weight: bold;
}


#left_nav ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px 10px 10px 28px;
	font-weight: bold;
}

#left_nav ul li a:hover {
	color: #fff;
	text-decoration: underline;
	display: block;
	padding: 10px 10px 10px 28px;
	font-weight: bold;
}

#left_nav ul.tierthree a{
	color: #000;
}

#left_nav ul.tierthree a:hover {
	color: #000;
	text-decoration: underline;
}


#left_alert {background-color:#e9e9ea; color: #333333; padding:0px 5px 5px 5px; margin:0px 0px 0px 0px; width:195px;}

#title {color:#FFF; background-color:#b02e0e; height:32px; font-weight:bold; font-size:16px; padding:10px 0px 0px 10px; margin:20px 0px 0px -5px; display:block; width:195px;}

.align_left {float:left; width:61px; padding-top:20px;}
.align_right {float:right; width:620px;}

.align_left_3column {float:left; width:45px; padding-top:0px;}
.align_right_3column {float:left; width:250px; padding-bottom:10px;}

p.sub {color: #0e3253; margin-top:-5px; font-weight:bold; font-style:italic;}



/* footer
================================================== */	

#footer {
	background-color: #0c507e;
	float: left;
	margin-top: 2px;
	padding-bottom: 50px;
	width: 100%;

	
}
#footer a {
	color: #FFF;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer_seal {
	width: 940px;
	margin: -11px auto 0;
	background-color: #fff;
	height: 9px;
	
}
#subfooter {
	background-color: #002545;
	float: none;
	margin-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	height: 75px;
}
#subfooter_center {
	background-color: #002545;
	margin: 0 auto;
	padding-bottom: 0px;
	width: 940px;
	height: 75px;
}
#subfooter a {
	border: none;
}
#subfooter_one {
	padding: 20px 5px 0px 20px;
	float: left;
}
#subfooter_two {
	padding-top: 5px;
	float: left;
}
#subfooter_three {
	padding: 20px 0px 0px 100px;
	float: right;
}
#footer_inset {
	height: auto;
	margin: 0 auto;
	padding-bottom: 0px;
	width: 940px;
}
#footer_inset ul li {
	padding: 0px 0px 5px 0px;
	list-style: none;
	
}
#footer_inset ul {
	padding-left: 0px;
}
#footer_inset p {
	padding-left: 0px;
	font-weight: bold;
}
#ft_one {
	padding: 80px 0px 0px 50px;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	width: 140px;
	float: left;
	
	
}
#ft_one p{
	font-size: 12px;
	font-weight:bold;
}
#ft_two {
	padding: 110px 0px 0px 0px;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	width: 120px;
	float: left;
}

#ft_three {
	padding: 80px 0px 0px 0px;
	color: #fff;
	font-family:Helvetica,  Arial, sans-serif;
	font-size: 11px;
	width: 200px;
	float: left;
}
#ft_three p{
	font-size: 12px;
	font-weight:bold;
}
#ft_four {
	padding: 80px 0px 0px 0px;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	width: 210px;
	float: left;
}
#ft_four p{
	font-size: 12px;
	font-weight:bold;
}
#ft_five {
	padding: 80px 0px 0px 0px;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	width: 200px;
	float: left;
}
#ft_five p{
	font-size: 12px;
	font-weight:bold;
}
.ft_divider {
	padding: 0px 15px 0px 0px;
	width: 7px;	
	float: left;
}

/*------------------------------------------
|                                          |
| call out box used on cars_home.htm
|                                          |
------------------------------------------*/
.callout { background-color:#fff1cd; font-size:25px; padding:15px; color:#0e3253; font-weight:bold;}

/*------------------------------------------
|                                          |
| Quick links box on main index page
|                                          |
------------------------------------------*/	

#quick_links_box{
	border-color:#205479; 
	border-style:solid; 
	width:440px;
}
	
.white_header-text_quicklinks {
	color: #FFFFFF;
	font-size: 15px;	
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;	
	margin-left:170px;
}

.graytext_small {
font-family:Arial, Helvetica, sans-serif; 
color:#333; 
font-size:11px;
font-style:italic;
margin-left:10px; 

}

.gray_med{
font-size:14px; 
color:#666666;
font-family:Arial, Helvetica, sans-serif;
text-align:left;
margin: 15px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

#center_twocolumn sup, #center_twocolumn sup a {font-size:10px; text-decoration:none;}


/*------------------------------------------
|                                          |
| Data Table Style Definitions
|                                          |
------------------------------------------*/
#center_twocolumn table.data  {width:100%;}
#center_twocolumn table.data thead {display: table-header-group; border-collapse:collapse;}

#center_twocolumn table.data thead th.single { border-bottom: solid  1px #000000;color:#000000; }
#center_twocolumn table.data thead td {text-align:left; padding:5px; border:none; color:#000;}

#center_twocolumn table.data tbody th{text-align: left; padding:5px; border:none;}


#center_twocolumn table.data td {text-align: right; vertical-align: bottom; border:none; color:#333;}
#center_twocolumn table.data td.single {border-bottom: solid  1px #000000; }
#center_twocolumn table.data td.double {border-bottom: double 3px #000000; }

tdctr {text-align:center;}
.rowcolor {background-color: #F7F7F7;}
.rowheader {background-color: #fff1cd;} 


/*------------------------------------------
|                                          |
| Info Table Style Definitions
|                                          |
------------------------------------------*/	
#center_twocolumn table.info { width:100%;}
#center_twocolumn table.info thead {display: table-header-group; border-collapse:collapse;}
#center_twocolumn table.info thead th {text-align: center; padding:5px; border:none;}
#center_twocolumn table.info thead th.single { border-bottom: solid  1px #000000;}
#center_twocolumn table.info thead td {text-align:left; padding:5px; border:none;}
#center_twocolumn table.info tbody th{text-align: right; padding:5px;}
#center_twocolumn table.info td.single {border-bottom: solid  1px #000000; }
#center_twocolumn table.info td.double {border-bottom: double 3px #000000; }



.one {
    float:left; width:200px;
}
.two {
    float:left; width:100px;
	
}


